image: http://registry.gitlab.com/newbie_devops/ansible-wordpress:latest

stages:
  - test
  
before_script:
  - ansible --version
  - ansible-lint --version
  - echo "$ANSIBLE_SSHKEY" > ansible.key ## Записываем ключ
  - chmod 400 ansible.key
  - export ANSIBLE_HOST_KEY_CHECKING=False

ansible-test:
  stage: test
  script:
    - ansible --version
    - ls -la
    - lsb_release -a
    - pwd
    - ansible-playbook --private-key ansible.key -i inventory -u ubuntu playbook.yml
  tags:
    - ndevops

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
    - sh ci-notify.sh ✅
  tags:
    - ndevops

notify_error:
  stage: notify
  script:
  - sh ci-notify.sh ❌
  when: on_failure # Уведомление при ошибке деплоя
  tags:
    - ndevops

